#mainbox {
  width: 600px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-image: url(/assets/test.png);
}
#result {
  width: 400px;
  min-height: 51px;
  margin: auto;
  text-align: center;
}
#player {
  padding: 50px 0px 0px 0px;
  width: 400px;
  height: 120px;
  margin: auto;
  text-align: center;
  color: yellow;
}
#player label {
  color: #FFC90E;
}
#spacer {
  min-height: 40px ;
}
#dealer {
  width: 400px;
  height: 150px;
  margin: auto;
  text-align: center;
}
#dscore {
  min-height: 27px;
}
#dscore label {
  color: #FFC90E;
}
#buttons {
  padding: 10px 0px 0px 0px;
  width: 400px;
  height: 80px;
  margin: auto;
  text-align: center;
}